[submodule "backend/frontend"]
	path = backend/frontend
	url = git@gitlab.com:gerrys_club/frontend.git

[submodule "backend/frontend/templates"]
	path = backend/frontend/templates
	url = git@gitlab.com:gerrys_club/frontend.git
